[defaults]

# Local collection path inside this repository
collections_path = ~/.ansible/collections:./collections:/usr/share/ansible/collections

# Disable retry files
retry_files_enabled = False

# Better output
stdout_callback = default
callback_result_format = yaml
bin_ansible_callbacks = True

# Don't create .retry files
host_key_checking = False
deprecation_warnings = True

interpreter_python = auto_silent
